@media only screen and (max-width: 1200px) {

.row {
    width: 100%;
}   
    
.mast-head img {
    float: left;
    height: 75px;
    margin-top: 5px;
    margin-bottom: 5px;
}

 .business-name {
    font-size: 160%;
    margin-top: 10px;
    margin-left: 10px;
}
    
 .main-nav {
    list-style: none;
    margin-top: 10px;
    margin-right: 10px;
}
    
.mast-head {
    height: auto;
    background-color: #48576e;
    position: relative;
    margin: 0 auto;
}
    
.main-nav li a {
    font-size: 80%;    
}
    
.head-box {
    width: 60%;
}
    
.contact-form {
    background-color: rgba(0, 10, 25, .75);
    margin-bottom: 10px;
    margin-top: 10px;
    width: 90%;
    margin: 0 auto;
    padding: 10px o;
}

.section-form h1 {
    text-align: center;
    margin-left: 30px;
    font-weight: 400;
    color: #fff;
}
    
.works-step p {
    display: inline-block;
    margin-left: 1px;
}
    
.works-step .number {
    height: 42px;
    width: 42px;
    text-align: center;
    padding: 9px 5px 4px 5px;
    padding-top: 8px;
    float: left;
    font-size: 150%;
    margin-right: 15px;
}
    
}

/*Small tablet to big tablet: from 768 to 1023px*/
@media only screen and (max-width: 1023px) {
    
}

/*Small phone to small tablet: from 481px to 767px*/
@media only screen and (max-width: 767px) {
    
}

/*Small phone, up to 480px wide*/
@media only screen and (max-width: 480px) {
    
}